@import 'mixins.scss';

$wide-screen-breakpoint: 800px;

html {
    font-size: 16px;
}

body {
    background-color:#fcc;
}

a {
    cursor: pointer;
    color:blue;
    text-decoration: underline;
}

.container {
    @media screen and (min-width: $wide-screen-breakpoint) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0.5rem;
    }
}

.header {
    @include card;
    font-size: 1.5rem;

    @include responsive-box(12);
}

.left {
    @include card;

    @include responsive-box(3);
}

.main {
    @include card;
    font-size: 1.3rem;
    @include responsive-box(6);
    figure {
        float: left;
        margin: 5px 10px 10px 0;
    }
    figure img {
            display:block;
    }
        
    figure span {
        display:block;
        font-style: italic;
        text-align: center;
    }
}

.right {
    @include card;
    @include responsive-box(3);
}

.footer {
    @include card;
    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include wide-screen {
            flex-direction: row;
        }
    }
    li {
        list-style-type: none;
    }
    a {
        display: block;
        padding: 0.5rem;
        text-align: center;
        font-size: 1.4rem;
    }
    @include responsive-box(12);
}